Flask
mysql-connector-python
python-dotenv
Flask-WTF
Werkzeug
flask_login
Flask-WTF
email-validator
cryptography.fernet
cryptography
# Necesario para el modelo de lenguaje
ollama #libreria para el modelo de lenguaje llama3.1 8b
